.photo-grid {
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  grid-gap: 16px;
  justify-items: center;
  justify-content: center;
  padding: 0 48px;
}

@media screen and (max-width: 1140px) {
  .photo-grid {
    grid-template-columns: repeat( 3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 984px) {
  .photo-grid {
    grid-template-columns: repeat( 2, 1fr);
    grid-gap: 16px;
    padding: 0 24px;
  }
}

 /* @media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 280px;
    grid-gap: 12px;
    padding: 0 16px;
  }
} */


@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 288px;
    grid-gap: 12px;
    padding: 0 16px;
  }
}
