.intro__list {
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  padding: 0;
}

.intro__list span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}


