.header {

  display: flex;
  justify-content: space-between;
  margin: 0 auto 56px;
  align-items: flex-end;
  font-family: 'Inter', Arials, sans-serif;
}

@media screen and (max-width: 1140px) {
  .header {
    padding: 0 48px;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    padding: 0 24px;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0 16px;
    margin: 0 auto 48px;
  }
}
