.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  margin: 0 0 26px;
}

@media screen and (max-width: 1140px) {
  .place__paragraph {
    margin: 0 0 27px;
  }
}

@media screen and (max-width: 984px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}

